:root {
    --background-color: #121626;
    --form-background-color: #1c2237;
    --text-color: #d4d4d4;
    --button-color: #763EDD;
    --button-hover-color: #C06C84;
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    background-color: var(--background-color);
    color: var(--text-color);
    animation: fadeIn 0.7s forwards;
}

.header-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10px;
    height: 10px;
    background-image: url(../src/logo.png);
    background-size: contain;
    padding: 0;
    margin-left: 100px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin-right: 100px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
}

nav li {
    display: inline-block;
    list-style: outside none none;
    padding: 0;
  }
  
nav a {
    padding: .5em .8em;
    color: rgba(255,255,255,.5);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  
nav a::before,
nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid var(--button-color);
    border-right: 3px solid var(--button-color);
    transform: translate(-100%, 50%);
  }
  
nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid var(--button-color);
    border-left: 3px solid var(--button-color);
    transform: translate(100%, -50%)
  }
  
nav a:hover:before,
nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
nav a:hover {
    color: var(--button-color);
  }


.container {
    max-width: 700px;
    margin: 25px auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(36,44, 72, 1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 50px;
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
}

.calculation-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    animation: fadeIn 0.7s forwards;
}

.title{
    width: fit-content;
    margin: 100px auto 0 auto;
    font-size: 24px;
    font-weight: 500;
}

.container-title{
    width: fit-content;
    margin: 0 auto 25px auto;
    font-size: 24px;
    font-weight: 500;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--form-background-color);
    padding: 12px;
    border-radius: 0px;
    opacity: 0;
    animation: fadeIn 0.7s forwards;
    font-size: 18px;
}

.form-group:nth-child(1) {
    animation-delay: 0.05s;
}
.form-group:nth-child(2) {
    animation-delay: 0.0.7s;
}
.form-group:nth-child(3) {
    animation-delay: 0.15s;
}
.form-group:nth-child(4) {
    animation-delay: 0.2s;
}
.form-group:nth-child(5) {
    animation-delay: 0.25s;
}
.form-group:nth-child(6) {
    animation-delay: 0.3s;
}
.form-group:nth-child(7) {
    animation-delay: 0.35s;
}

.multi-inputs{
    display: flex;
}

.input-group {
    position: relative;
    width: 120px;
    margin: 0 10px;
}

.input-group input {
    width: 100%;
  }


.input-group .unit {
    position: absolute;
    display: block;
    top: 8px;
    right: -3px;
    color: black;
    padding-left: 5px;
    width: 45px;
    text-align: right;
    font-size: 14px;
  }

input {
    width: 100px;
    padding: 7px 5px;
    background-color: var(--text-color);
    border: none;
    border-radius: 4px;
    text-align: left;
    font-size: 16px;
}

input[type=number] {
    -moz-appearance: textfield;
  }

.calculate-btn {
    width: 200px;
    margin: auto;
    background-color: var(--button-color);
    color: var(--text-color);
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: fadeIn 0.7s forwards;
    animation-delay: 0.35s;
    opacity: 0;
}

.calculate-btn:hover {
    background-color: var(--button-hover-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
